:global {
    .ms-commandBar{
        width:100%;
        position: relative;
        margin: 0 auto;
        .searchBox{
          height: 40px !important;
          background-color: rgb(244, 244, 244) !important;
          border-top: none !important;
          border-bottom: none !important;
          border-right: none !important;
          border-left: none !important;
          input{
             background:transparent;
          }
        }  
      }
  }